* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
.nav-link{
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s ease;
}
.nav-link.active{
    font-weight: bold;
    color: #f2877d;
}
.nav-link:hover {
    color: #ff4436;
  }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}
li{
    display: inline;
    margin: 10px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}